.header {
  background-color: #062849;
  padding: 20px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 100;
}

/* Logo styling */
.logo {
  height: 30px;
  width: auto;
  margin-right: 20px;
}

.main-content {
  display: flex;
  margin-top: 30px;
}

.left-sidebar {
  padding: 20px;
  flex: 1;
  overflow-y: auto;
}

.right-content {
  display: flex;
  flex: 3;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
  overflow-y: auto;
}

.graph-container {
  display: flex;
  flex:2;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.table-container {
  display: flex;
  flex:1;
  justify-content: center;
  align-items: flex-start;
}

.product-details {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: black;
  margin-bottom: 0;
}

.product-image {
  max-width: 50%;
  height: auto;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.product-subtitle {
  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(128, 128, 128);
  text-align: center;
  margin: 0px;
}

.product-tags {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: start;
  gap: 10px;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 0.8rem;
}

.product-tag {
  border: 1px solid lightgrey;
  color: gray;
  padding: 5px 10px;
  border-radius: 10px;
}